attrs==19.1.0
bleach==3.1.4
decorator==4.4.0
defusedxml==0.6.0
ds100nbconvert==0.3
entrypoints==0.3
ipython-genutils==0.2.0
Jinja2==2.10.1
jsonschema==3.0.1
jupyter-core==4.4.0
lxml==4.3.3
MarkupSafe==1.1.1
mistune==0.8.4
nbconvert==6.5.1
nbformat==4.4.0
pandocfilters==1.4.2
Pygments==2.4.2
pyrsistent==0.15.2
six==1.12.0
testpath==0.4.2
traitlets==4.3.2
webencodings==0.5.1
